@import "tailwindcss";

body {
  /* background-color: red; */
  width: 100vw;
  overflow-x: hidden;
  font-family: "Playwrite IT Moderna", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
